<a href="https://colab.research.google.com/github/jeevan0603/data690_jeevan/blob/main/assignmenmt_02/assignment_02_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Prompt user to enter integer only and display 10 integers

In [ ]:
my_list = []

for i in range(10):
  while True:
    y = input("Enter an integer: ")
    try:
      x = int(y)
      my_list.append(x)
      print(x , "is an integer")
      break
    except:
      print("Entered String. Please enter integer")

print("Entered integers are ", my_list) # Display all entered integers

Enter an integer: 5
5 is an integer
Enter an integer: ff
Entered String. Please enter integer
Enter an integer: 56
56 is an integer
Enter an integer: ge
Entered String. Please enter integer
Enter an integer: 3g3
Entered String. Please enter integer
Enter an integer: 3r
Entered String. Please enter integer
Enter an integer: 33
33 is an integer
Enter an integer: 55
55 is an integer
Enter an integer: 33
33 is an integer
Enter an integer: 6635
6635 is an integer
Enter an integer: 35
35 is an integer
Enter an integer: 2
2 is an integer
Enter an integer: 5
5 is an integer
Enter an integer: 25
25 is an integer
Entered integers are  [5, 56, 33, 55, 33, 6635, 35, 2, 5, 25]

# 2. Minimum value

In [ ]:
min = my_list[0]
for i in range(len(my_list)):
  if(my_list[i]<min):
    min = my_list[i]

print(min) # print minimum integer in the list

2

# 3. Maximum Value

In [ ]:
max = my_list[0]
for i in range(len(my_list)):
  if(my_list[i]>max):
    max = my_list[i]

print(max) # print maximum integer in the list

6635

# 4. Range

In [ ]:
range = max-min. # Range is differnce of maximum and minimum in the list
print("Range of list is ", range)

Range of list is  6633

# 5. Mean

In [ ]:
sum = 0
for j in my_list:
  sum += j
mean = sum/len(my_list) # mean is sum of values in the list divided by number of values
print("Mean is", mean)

Mean is 688.4

# 6. Variance

In [ ]:
for i in my_list:
  i = i - mean

squares = 0
for i in my_list:
  squares += i * i

variance = squares/len(my_list) # variance is sum of squares if values divided by number of values
print("variance is ", variance)

variance is  3537229.4560000002

# 7. Standard deviation

In [ ]:
sd = variance ** 0.5 # standard deviation is square root of variance
print("Standard deviation is", sd)

1880.7523643478426