<a href="https://colab.research.google.com/github/jeevan0603/data690_jeevan/blob/main/assignment_09/In_class_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In Class Practice 9
- Name: Jeevan Sai Sreella
- Date: 10/28/2021

In [1]:
import math_function as mf

In [2]:
a = input('enter the number ')

enter the number 100

In [3]:
print(a)

100

In [4]:
b = input('enter the number ')

enter the number 200

In [5]:
print(b)

200

In [6]:
c = mf.addition(a,b)


print(c)

100200

In [7]:
a = 23
b = 50
c = mf.addition(a,b)
print(c)

73